<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
>
    <source>
        <include>
            <directory>src/Domain</directory>
            <directory>src/Infrastructure/Endpoint</directory>
            <directory>src/Infrastructure/Log</directory>
            <directory>src/Infrastructure/Mapper/Api</directory>
            <directory>src/Infrastructure/Mapper/Db</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="CurrencyRate Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
